@model IEnumerable<OJTMApp.Models.ClassDB.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>會員中心</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model=>Model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var member in Model)
        {
            <tr>
                <td>@Html.DisplayFor(Model => member.Name)</td>
                <td>@Html.DisplayFor(Model => member.Email)</td>
                <td>@Html.DisplayFor(Model => member.Age)</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>




@* <img src="~/images/cat3.jpg" alt="avatar" /> *@
@* <img src="~/member/avatar/5" alt="avatar" /> *@
<p>登入帳號：@ViewData["name"]</p>
<p>使用者資料：@ViewData["userData"]</p>
<p>localStorage：<span id="span1"></span></p>
<hr />
<a href="~/member/deleteSession">刪除Session</a>

<!--目前的JS寫法不好-->
<script>
    //localStorage 的寫入
    // localStorage.setItem("name", "小明");

     //localStorage 的讀取
     // const userName = localStorage.getItem("name");
     // document.querySelector('#span1').textContent = userName;

     //localStorage的刪除
     //localStorage.removeItem("name");
</script>

