@model OJTMApp.Models.ViewModel.CoursesPagingViewModel;
@{
    ViewData["Title"] = "Index";
    var sort = ViewContext.HttpContext.Request.Query["sort"];
}

<h1>Course Index</h1>
@* <img src="~/images/cat1.jpg" alt="cat" class="img-thumbnail w-25" /> *@
@* <img src="@Url.Action("GetImageFile", "Member", new{file="cat2.jpg"})"  class="img-thumbnail w-25" /> *@
@* <img src="@Url.Action("Avatar", "Member", new{id=3})" class="img-thumbnail w-25" /> *@

<a asp-action="create" class="btn btn-secondary">課程新增</a>
<hr />
<div class="row">
    <div class="col-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <!--totalPage = 4-->
                @foreach (var i in Enumerable.Range(1, Model.TotalPage))
                {
                    <li class="page-item"><a class="page-link" href="@Url.Action("Index","Course",new{page=i,sort})">@i</a></li>

                    <!--/?page=1&sort=price-->
                }

            </ul>
        </nav>
    </div>
    <div class="col-4">
        <form>
        <select class="form-select" name="sort" onchange="this.form.submit()">
           <option value="">請選擇排序欄位</option>
           <option value="@ViewData["id"]">課程編號</option>   @* <!--id 小到大，-id 大到小-> *@
           <option value="@ViewData["price"]">課程價錢</option>
           <option value="@ViewData["hour"]">課程時數</option>
        </select>       
        </form>
    </div>
    <div class="col-4"></div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var course in Model.Courses)
    {
        <div class="col">
            <div class="card">
                <img src="@Url.Action("GetImageFile","Course",new{file=course.CourseImage})" class="card-img-top" alt="@course.CourseName">
                <div class="card-body">
                    <h5 class="card-title">@course.CourseId  course.CourseName</h5>
                    <p class="card-text">開課日期：@course.StartDate</p>
                    <p class="card-text">優惠價：@course.CoursePrice</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary"><span class="badge text-bg-secondary">@course.CourseHour</span> <span class="badge text-bg-secondary">@course.Location</span> </small>
                </div>
            </div>
        </div>

    }
  
</div>

